---
import Article from "@/components/Article.astro";
import Meta from "@/components/Meta.astro";
import PostDate from "@/components/PostDate.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <Meta
    title={post.data.title}
    description={post.data.description}
    slot="meta"
  />
  <Fragment slot="content">
    <Article>
      <h1>
        {post.data.title}
      </h1>
      <div class="flex gap-x-2">
        {post.data.pubDate && <PostDate date={post.data.pubDate} />}
      </div>
      <Content />
    </Article>
  </Fragment>
</Layout>
