---
import BackHome from "@/components/back-home.astro";
import Meta from "@/components/meta.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Meta
    title="404 - Page Not Found"
    description="The page you're looking for doesn't exist"
    slot="meta"
  />
  <Fragment slot="header">
    <BackHome />

    <div>
      <h1 class="page-title">Page not found</h1>
      <p class="page-description">The page you're looking for doesn't exist.</p>
    </div>
  </Fragment>
</Layout>
