---
import BackHome from "@/components/back-home.astro";
import Meta from "@/components/meta.astro";
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";

import avatarImage from "@/assets/avatar.jpg";
---

<Layout>
  <Meta title="About" slot="meta" />

  <Fragment slot="header">
    <BackHome />

    <h1 class="text-2xl font-semibold text-gray-900 mb-4">About me</h1>
  </Fragment>

  <Fragment slot="content">
    <article
      class="prose prose-a:text-blue-600 prose-a:hover:text-blue-700 prose-a:no-underline"
    >
      <Image src={avatarImage} alt="My face" />
      <p>
        I'm a self-taught software engineer, writer passionate about building
        products that solve real problems. With over 9 years of experience in
        web development, I specialize in creating performant and accessible
        applications using modern technologies.
      </p>

      <h2>Experience</h2>
      <ol class="list-none px-0">
        <li class="px-0">
          <h3>Staff Engineer at Saleor Commerce</h3>
          <p>2022 - Present</p>
          <p>
            Developing of apps and dashboard for Saleor, a headless e-commerce
            platform. Focusing on performance optimization, code quality, and
            team collaboration. Contributing to the open-source community.
          </p>
        </li>
        <li class="px-0">
          <h3>Team Leader at Ingrid</h3>
          <p>2018 - 2022</p>
          <p>
            Leading a team of developers to build a tracking product that
            provides real-time updates and notifications for users. Ensuring the
            product is performant, accessible, and user-friendly. Mentoring
            junior developers and establishing best practices.
          </p>
        </li>
        <li class="px-0">
          <h3>Python Developer at STXNext</h3>
          <p>2016 - 2018</p>
          <p>
            Developing web applications using Python and Django. Working on
            various projects, including e-commerce and content management
            systems.
          </p>
        </li>
      </ol>

      <h2>Skills & Technologies</h2>
      <div class="flex flex-wrap gap-2">
        {
          ["TypeScript", "React", "Next.js", "Python", "Django", "GraphQL"].map(
            (skill) => (
              <span class="px-3 py-1 bg-gray-100 text-gray-800 text-sm rounded-full">
                {skill}
              </span>
            ),
          )
        }
      </div>

      <h2>Outside of work</h2>
      <p>
        When I'm not coding, you can find me brewing specialty coffee in V60,
        reading science fiction or fantasy novels or experimenting with local
        cuisine.
      </p>
    </article>
  </Fragment>
</Layout>
