---
import Footer from "@/components/footer.astro";
import Nav from "@/components/nav.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Fragment slot="header">
    <Nav />
    <h1>Krzysztof Żuraw</h1>
    <p>
      <small>
        I'm a self-taught software engineer, writer passionate about building
        products that solve real problems. With over 9 years of experience in
        web development, I specialize in creating performant and accessible
        applications using modern technologies.
      </small>
    </p>
  </Fragment>
  <Fragment slot="footer">
    <Footer />
  </Fragment>
</Layout>
