---
import Link from "@/components/link.astro";
import { getLatestWritings } from "@/helpers/get-latest-writing";
import Layout from "@/layouts/layout.astro";

const latestWriting = await getLatestWritings();
---

<Layout>
  <Fragment slot="header">
    <div class="site-header">
      <h1>Krzysztof Żuraw</h1>
      <nav>
        <ul>
          <Link href="/writing">Writing</Link>
          <Link href="/about">About</Link>
          <Link href="/rss.xml">RSS</Link>
        </ul>
      </nav>
    </div>
    <p class="bio">
      I'm a fullstack developer. I work at{" "}
      <Link href="https://saleor.io/">Saleor</Link> where I build an open-source e-commerce
      platform.
    </p>
  </Fragment>
  <Fragment slot="content">
    <section>
      <h2 class="section-title">Latest writing</h2>
      <ul class="article-list">
        {
          latestWriting.map((post) => (
            <li>
              <Link href={`/writing/${post.slug}`}>{post.data.title}</Link>
            </li>
          ))
        }
      </ul>
    </section>
  </Fragment>
  <Fragment slot="footer">
    <span>&copy; Krzysztof Żuraw</span>
    <ul>
      <li>
        <Link href="https://github.com/kzuraw">GitHub</Link>
      </li>
      <li>
        <Link href="https://bsky.app/profile/kzuraw.com">Bluesky</Link>
      </li>
      <li>
        <Link href="https://www.linkedin.com/in/kzuraw">LinkedIn</Link>
      </li>
    </ul>
  </Fragment>
</Layout>
