---
import Link from "@/components/link.astro";
---

<span>&copy; Krzysztof Żuraw</span>
<ul>
  <li>
    <Link href="https://github.com/kzuraw">GitHub</Link>
  </li>
  <li>
    <Link href="https://bsky.app/profile/kzuraw.com">Bluesky</Link>
  </li>
  <li>
    <Link href="https://www.linkedin.com/in/kzuraw">LinkedIn</Link>
  </li>
</ul>
