---
import Link from "./link.astro";
---

<nav>
  <ul>
    <li><Link href="/">Home</Link></li>
    <li><Link href="/writing">Writing</Link></li>
    <li><Link href="/rss.xml">RSS</Link></li>
  </ul>
</nav>
