---
import Meta from "@/components/meta.astro";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body class="min-h-screen bg-white">
    <div class="max-w-2xl mx-auto px-6 py-16">
      <header class="mb-12">
        <slot name="header" />
      </header>
      <main>
        <slot name="content" />
      </main>
      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>
