---
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import Navbar from "@/components/navbar.astro";
import PostDate from "@/components/post-date.astro";
import { getAllWritings } from "@/helpers/get-all-writings";
import Layout from "@/layouts/layout.astro";

const posts = await getAllWritings();
---

<Layout>
  <Meta title="Writing" slot="meta" />
  <Fragment slot="header">
    <Navbar />
    <div>
      <h1 class="text-2xl font-semibold text-gray-900 mb-4">
        Writing Archives
      </h1>
      <p class="text-gray-700">All articles organized by date.</p>
    </div>
  </Fragment>
  <Fragment slot="content">
    <ul class="space-y-5">
      {
        posts.map((post) => (
          <li class="group">
            <Link href={`/writing/${post.slug}`} class="block">
              <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline">
                <h3 class="group-hover:opacity-70 transition-opacity">
                  {post.data.title}
                </h3>
                {post.data.pubDate && (
                  <PostDate
                    date={post.data.pubDate}
                    class="text-sm text-gray-500 sm:shrink-0 sm:ml-4"
                  />
                )}
              </div>
            </Link>
          </li>
        ))
      }
    </ul>
  </Fragment>
</Layout>
