---
import BackHome from "@/components/back-home.astro";
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import { getWritingsByYear } from "@/helpers/get-writings-by-year";
import Layout from "@/layouts/layout.astro";

const writingsByYear = await getWritingsByYear();
---

<Layout>
  <Meta title="Writing" slot="meta" />
  <Fragment slot="header">
    <BackHome />

    <div>
      <h1 class="page-title">Writing Archives</h1>
      <p class="page-description">All articles organized by date.</p>
    </div>
  </Fragment>
  <Fragment slot="content">
    <div>
      {
        writingsByYear.map(([year, posts]) => (
          <section class="year-group">
            <h2 class="year-title">{year}</h2>
            <ul class="article-list">
              {posts.map((post) => (
                <li>
                  <Link href={`/writing/${post.slug}`}>
                    <span>{post.data.title}</span>
                    {post.data.pubDate && (
                      <time>
                        {new Date(post.data.pubDate).toLocaleDateString(
                          "en-US",
                          { month: "short", day: "numeric" },
                        )}
                      </time>
                    )}
                  </Link>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </Fragment>
</Layout>
