---
import BackHome from "@/components/back-home.astro";
import Link from "@/components/link.astro";
import Meta from "@/components/meta.astro";
import { getWritingsByYear } from "@/helpers/get-writings-by-year";
import Layout from "@/layouts/layout.astro";

const writingsByYear = await getWritingsByYear();
---

<Layout>
  <Meta title="Writing" slot="meta" />
  <Fragment slot="header">
    <BackHome />
    <h1>Writing Archives</h1>
    <p><small>All articles organized by date.</small></p>
  </Fragment>
  <Fragment slot="content">
    {
      writingsByYear.map(([year, posts]) => (
        <section>
          <h2>{year}</h2>
          <ul>
            {posts.map((post) => (
              <li>
                <Link href={`/writing/${post.slug}`}>
                  <span>{post.data.title}</span>
                  {post.data.pubDate && (
                    <time>
                      {new Date(post.data.pubDate).toLocaleDateString("en-US", {
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                  )}
                </Link>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </Fragment>
</Layout>
